body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.accessibility-buttons {
    display: flex;
    gap: 5px;
}

button {
    margin: 5px;
    padding: 10px;
    background: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

.filter-section {
    margin-left: 20px;
}

main {
    flex: 1;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tourism {
    background: linear-gradient(to right, #009739, #009739 33.33%, #FFD700 33.33%, #FFD700 66.66%, #0033A0 66.66%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.contato-link {
    text-decoration: underline;
  }  

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
}

.card figure {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #555;
    padding: 5px 0;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-top: 0;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 5px;
    }
}

.filter-image.achromatomaly {
    filter: grayscale(50%);
}

.filter-image.deuteranomaly {
    filter: grayscale(75%) hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.protanopia {
    filter: sepia(55%) saturate(100%);
}

